.features {
  color: #095064;
  z-index: 3;

  font-size: 0.175rem;
  line-height: 0.235rem;

  @media (max-width: 768px) {
    font-size: 0.09rem;
    line-height: 0.115rem;
    padding-bottom: 0.6rem;
  }

  .sky {
    z-index: 0;
    background: linear-gradient(
      180deg,
      #14397d 2.74%,
      #2761a1 33.29%,
      #3579b6 48.31%,
      #4494c7 62.14%,
      #55bcdf 73.1%,
      #56c3e2 79.03%
    );
  }

  .cloudsBehindMountain {
    z-index: 1;

    picture {
      margin-top: 7.9rem;

      @media (max-width: 768px) {
        margin-top: 7.9rem;
      }
    }
  }

  .mountain {
    z-index: 2;

    picture {
      margin: 7.5rem auto 0;
      width: 14.4rem;

      @media (max-width: 768px) {
        width: 3rem;
      }
    }
  }

  .cloudsThin {
    z-index: 2;
    filter: blur(0.02rem);

    @media (max-width: 768px) {
      filter: blur(0.01rem);
    }

    .thinCloud {
      position: absolute;
      transform-origin: 50% -40rem;
      animation: thinCloudsAnimation 30s linear infinite;

      @media (max-width: 768px) {
        transform-origin: 50% -10rem;
      }

      &_1 {
        top: 4.5rem;
        left: 5rem;
        width: 9.14rem;
        animation-delay: -10s;

        @media (max-width: 768px) {
          top: 2.5rem;
          left: 1rem;
          width: 1.9rem;
        }
      }

      &_2 {
        top: 4.5rem;
        left: 5.5rem;
        width: 7.42rem;

        @media (max-width: 768px) {
          top: 2.5rem;
          left: 1rem;
          width: 1.5rem;
        }
      }

      &_3 {
        top: 3.5rem;
        left: 7rem;
        width: 4.34rem;
        animation-delay: -5s;

        @media (max-width: 768px) {
          top: 1.5rem;
          left: 1rem;
          width: 0.9rem;
        }
      }

      &_4 {
        top: 3.5rem;
        left: 4.5rem;
        width: 10.3rem;
        animation-delay: -20s;

        @media (max-width: 768px) {
          top: 1.5rem;
          left: 1rem;
          width: 2.1rem;
        }
      }

      @keyframes thinCloudsAnimation {
        0% {
          transform: rotate(20deg) translate3d(0, 0, 0);
        }

        100% {
          transform: rotate(-20deg) translate3d(0, 0, 0);
        }
      }
    }
  }

  .cloudsFluffy {
    z-index: 3;
    filter: blur(0.01rem);

    picture {
      margin-top: -3.9rem;

      @media (max-width: 768px) {
        margin-top: -1.6rem;
      }
    }
  }

  .hills {
    z-index: 3;

    picture {
      margin-top: 9.24rem;

      @media (max-width: 768px) {
        margin-top: 8.24rem;
      }
    }
  }

  .cliff {
    z-index: 4;

    .cliffPicture {
      margin-top: 6.59rem;

      @media (max-width: 768px) {
        margin-top: 8.5rem;
      }
    }

    .tail {
      margin-top: 0;
      position: absolute;
      top: 14.9rem;
      left: 9.2rem;
      width: 3.23rem;
      animation: tailAnimation 4s ease-in-out infinite;
      transform-origin: 0.5rem 0.5rem;

      @media (max-width: 768px) {
        top: 9.9rem;
        left: 1.54rem;
        width: 0.5rem;
        transform-origin: 0.08rem 0.08rem;
      }

      @keyframes tailAnimation {
        0% {
          transform: rotate(0) translate3d(0, 0, 0);
        }
        50% {
          transform: rotate(-10deg) translate3d(0, 0, 0);
        }
        100% {
          transform: rotate(0) translate3d(0, 0, 0);
        }
      }
    }

    .leafContainer {
      position: absolute;
      top: 9.9rem;
      left: 2.5rem;
      width: 0.2rem;
      height: 0.2rem;
      background: radial-gradient(#c14b98 0%, #67246e 100%);
      border-radius: 50% 5% 50% 5%;
      transform-origin: 2.5rem -2.5rem;
      animation: leafFlightAnimation 3s ease-out infinite;

      @media (max-width: 768px) {
        top: 9rem;
        left: 0.4rem;
        transform-origin: 1rem -1rem;
        width: 0.05rem;
        height: 0.05rem;
      }

      @keyframes leafFlightAnimation {
        0% {
          opacity: 0;
          transform: rotate(0deg) translate3d(0, 0, 0);
        }
        40% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: rotate(-40deg) translate3d(0, 0, 0);
        }
      }

      &_2 {
        animation-delay: 1.3s;
        top: 9.6rem;
        left: 3rem;

        @media (max-width: 768px) {
          top: 8.96rem;
          left: 0.52rem;
        }
      }

      &_3 {
        animation-delay: 2.1s;
        top: 9.4rem;
        left: 3.5rem;

        @media (max-width: 768px) {
          top: 8.94rem;
          left: 0.6rem;
        }
      }

      &_4 {
        animation-delay: 0.5s;
        top: 9.3rem;
        left: 4rem;

        @media (max-width: 768px) {
          top: 8.9rem;
          left: 0.7rem;
        }
      }

      &_5 {
        animation-delay: 1.7s;
        top: 10.6rem;
        left: 2rem;

        @media (max-width: 768px) {
          top: 9.2rem;
          left: 0.3rem;
        }
      }
    }

    .shroomGlow {
      position: absolute;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 223, 231, 0.74) 0%,
        rgba(0, 223, 231, 0.15) 100%
      );
      filter: blur(0.5rem);
      border-radius: 50%;
      animation: shroomGlowAnimation 3s ease-in-out infinite;

      &_1 {
        width: 2rem;
        height: 2rem;
        top: 12.1rem;
        left: 3.1rem;

        @media (max-width: 768px) {
          width: 0.4rem;
          height: 0.4rem;
          top: 9.4rem;
          left: 0.5rem;
        }
      }

      &_2 {
        width: 2.5rem;
        height: 2.5rem;
        top: 12.3rem;
        left: 14.1rem;
        animation-delay: 1s;

        @media (max-width: 768px) {
          width: 0.5rem;
          height: 0.5rem;
          top: 9.4rem;
          left: 2.3rem;
        }
      }

      @keyframes shroomGlowAnimation {
        0% {
          opacity: 0.2;
          transform: translate3d(0, 0, 0);
        }
        50% {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        100% {
          opacity: 0.2;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .shroomFlies {
      position: absolute;
      animation: flyOpacityAnimation 3s ease-in-out infinite;

      @media (max-width: 768px) {
        display: none;
      }

      .fly {
        animation: shroomFliesAnimation linear infinite;
        border-radius: 50%;
        background: #00dfe7;
      }

      &_1 {
        top: 12.1rem;
        left: 3.1rem;

        .fly {
          width: 0.1rem;
          height: 0.1rem;
          filter: blur(0.03rem);
          transform-origin: 0.5rem 0.5rem;
          animation-duration: 6s;
        }
      }

      &_2 {
        top: 12.3rem;
        left: 4.3rem;
        animation-delay: 0.75s;

        .fly {
          width: 0.07rem;
          height: 0.07rem;
          filter: blur(0.02rem);
          animation-direction: reverse;
          transform-origin: 0.5rem 0.5rem;
          animation-duration: 5.5s;
          animation-delay: 1s;
        }
      }

      &_3 {
        top: 12.1rem;
        left: 4.1rem;
        animation-delay: 1.5s;

        .fly {
          width: 0.05rem;
          height: 0.05rem;
          filter: blur(0.02rem);
          transform-origin: 0.7rem 0.4rem;
          animation-duration: 5s;
          animation-delay: 1.5s;
        }
      }

      &_4 {
        top: 12.3rem;
        left: 3.3rem;
        animation-delay: 2.25s;

        .fly {
          width: 0.09rem;
          height: 0.09rem;
          filter: blur(0.02rem);
          animation-direction: reverse;
          transform-origin: 0.4rem 0.7rem;
          animation-duration: 5.8s;
          animation-delay: 2s;
        }
      }

      &_5 {
        top: 12.1rem;
        left: 14.1rem;

        .fly {
          width: 0.1rem;
          height: 0.1rem;
          filter: blur(0.03rem);
          transform-origin: 0.5rem 0.5rem;
          animation-duration: 6s;
        }
      }

      &_6 {
        top: 12.7rem;
        left: 15.8rem;
        animation-delay: 0.75s;

        .fly {
          width: 0.07rem;
          height: 0.07rem;
          filter: blur(0.02rem);
          animation-direction: reverse;
          transform-origin: 0.5rem 0.5rem;
          animation-duration: 5.5s;
          animation-delay: 1s;
        }
      }

      &_7 {
        top: 12.1rem;
        left: 15rem;
        animation-delay: 1.5s;

        .fly {
          width: 0.05rem;
          height: 0.05rem;
          filter: blur(0.02rem);
          transform-origin: 0.7rem 0.4rem;
          animation-duration: 5s;
          animation-delay: 1.5s;
        }
      }

      &_8 {
        top: 12.3rem;
        left: 14.3rem;
        animation-delay: 2.25s;

        .fly {
          width: 0.09rem;
          height: 0.09rem;
          filter: blur(0.02rem);
          animation-direction: reverse;
          transform-origin: 0.4rem 0.7rem;
          animation-duration: 5.8s;
          animation-delay: 2s;
        }
      }

      @keyframes shroomFliesAnimation {
        0% {
          transform: rotate(0deg) translate3d(0, 0, 0);
        }
        100% {
          transform: rotate(360deg) translate3d(0, 0, 0);
        }
      }

      @keyframes flyOpacityAnimation {
        0% {
          opacity: 0;
          transform: translate3d(0, 0, 0);
        }
        50% {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        100% {
          opacity: 0;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .waterfall {
    z-index: 4;
    position: absolute;
    top: -3.3rem;
    right: 1.16rem;
    left: unset;
    width: 6.42rem;
    height: 11.08rem;

    @media (max-width: 768px) {
      top: -1.6rem;
      right: 0;
      width: 1.04rem;
      height: 2.281rem;
    }

    * {
      position: absolute;
    }

    .top {
      top: 0;
      right: 0;
      width: 6.09rem;

      @media (max-width: 768px) {
        width: 0.965rem;
      }
    }

    .bottom {
      top: 8.27rem;
      left: 0;
      width: 4.68rem;

      @media (max-width: 768px) {
        top: 1.7rem;
        width: 0.964rem;
      }
    }
  }

  .water {
    position: absolute;
    z-index: 5;
    top: -2.3rem;
    right: 4rem;
    width: 2.05rem;
    mix-blend-mode: lighten;

    @media (max-width: 768px) {
      top: -1.39rem;
      right: 0.32rem;
      width: 0.424rem;
    }
  }

  .scrolls {
    z-index: 5;
    position: relative;
    top: -0.36rem;

    .whitepaper {
      position: relative;
      width: 4.5rem;
      height: 4.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.36rem 0.26rem 0 0.38rem;
      margin-left: 5.73rem;
      margin-bottom: 1.2rem;

      @media (max-width: 768px) {
        width: 2.1rem;
        height: 2.33rem;
        padding: 0.166rem 0.18rem 0;
        margin-left: 0.15rem;
        margin-bottom: 0.3rem;
      }

      p {
        font-weight: 500;
        margin-bottom: 0.27rem;

        @media (max-width: 768px) {
          margin-bottom: 0.05rem;
        }
      }

      .learnMore {
        margin-bottom: 0.15rem;
        font-weight: 700;

        @media (max-width: 768px) {
          margin-bottom: 0.06rem;
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        width: 1.25rem;
        height: 0.48rem;
        transform: scale(1.3);
        text-decoration: none;

        @media (max-width: 768px) {
          width: 0.71rem;
          height: 0.29rem;
        }

        picture {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
        }

        span {
          color: #fff;
          font-size: 0.16rem;
          font-weight: 700;
          text-shadow: 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.25);

          @media (max-width: 768px) {
            font-size: 0.09rem;
          }
        }
      }

      > picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;

        img {
          height: 100%;
        }
      }
    }

    .featuresGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0.42rem 0.13rem;
      width: min-content;
      margin-left: 5.6rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-left: 0.05rem;
        grid-gap: 0.1rem 0;
      }

      .feature {
        width: 2.9rem;
        height: 3.7rem;
        position: relative;
        padding: 1.7rem 0.28rem 0;
        text-align: center;

        @media (max-width: 768px) {
          width: 1.5rem;
          height: 2rem;
          padding: 0.9rem 0.15rem 0;
        }

        .heading {
          font-weight: 700;
          margin-bottom: 0.08rem;
        }

        > picture {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          z-index: -1;

          &.crystal_card {
            width: 117%;
            left: -7%;
          }
        }
      }
    }
  }

  .crystals {
    z-index: 6;

    .crystal {
      position: absolute;
      animation: crystalBounce 2s ease-in-out infinite;

      &_1 {
        top: -1.06rem;
        left: 2.51rem;
        width: 3.82rem;
        height: 4.34rem;
        animation-delay: 0s;
        animation-duration: 3s;

        @media (max-width: 768px) {
          top: -1.5rem;
          left: 0.15rem;
          width: 0.8rem;
          height: 0.91rem;
        }
      }

      &_2 {
        top: -2.29rem;
        left: 3.9rem;
        width: 2.21rem;
        height: 2.28rem;
        animation-delay: 0.4s;

        @media (max-width: 768px) {
          top: 1.6rem;
          left: 1.64rem;
          width: 0.46rem;
          height: 0.48rem;
          animation-delay: 0.2s;
        }
      }

      &_3 {
        top: 0.21rem;
        left: 10.6rem;
        width: 0.4rem;
        height: 0.4rem;
        animation-delay: 0.2s;

        @media (max-width: 768px) {
          top: -1rem;
          left: 1.1rem;
          width: 0.08rem;
          height: 0.08rem;
          animation-delay: 0.4s;
        }
      }

      &_4 {
        top: 1.75rem;
        left: 10rem;
        width: 2.21rem;
        height: 2.28rem;
        animation-delay: 0.6s;

        @media (max-width: 768px) {
          top: -1.3rem;
          left: 1.7rem;
          width: 0.46rem;
          height: 0.48rem;
          animation-delay: 0s;
        }
      }

      &_5 {
        top: 2.33rem;
        left: 9.38rem;
        width: 2.21rem;
        height: 2.28rem;
        animation-delay: 0.3s;

        @media (max-width: 768px) {
          top: 1.3rem;
          left: 2.5rem;
          width: 0.46rem;
          height: 0.48rem;
          animation-delay: 0.6s;
        }
      }

      @keyframes crystalBounce {
        0% {
          transform: translate3d(0, 0, 0);
        }
        50% {
          transform: translate3d(0, 0.15rem, 0);
        }
        100% {
          transform: translate3d(0, 0, 0);
        }
      }

      @media (max-width: 768px) {
        @keyframes crystalBounce {
          0% {
            transform: translate3d(0, 0, 0);
          }
          50% {
            transform: translate3d(0, 0.05rem, 0);
          }
          100% {
            transform: translate3d(0, 0, 0);
          }
        }
      }

      &.shimmer {
        filter: blur(0.1rem);
        z-index: -1;
        animation-name: shimmerBounce;

        @keyframes shimmerBounce {
          0% {
            transform: translate3d(0, 0, 0);
            opacity: 0.8;
          }
          50% {
            transform: translate3d(0, 0.15rem, 0);
            opacity: 0.3;
          }
          100% {
            transform: translate3d(0, 0, 0);
            opacity: 0.8;
          }
        }

        @media (max-width: 768px) {
          @keyframes shimmerBounce {
            0% {
              transform: translate3d(0, 0, 0);
              opacity: 0.8;
            }
            50% {
              transform: translate3d(0, 0.05rem, 0);
              opacity: 0.3;
            }
            100% {
              transform: translate3d(0, 0, 0);
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
