.features {
  color: #095064;
  z-index: 3;

  font-size: 0.175rem;
  line-height: 0.235rem;

  @media (max-width: 768px) {
    display: none;
  }

  .sky {
    z-index: 0;
    background: linear-gradient(
      180deg,
      #14397d 2.74%,
      #2761a1 33.29%,
      #3579b6 48.31%,
      #4494c7 62.14%,
      #55bcdf 73.1%,
      #56c3e2 79.03%
    );
  }

  .cloudsBehindMountain {
    z-index: 1;

    picture {
      margin-top: 7.56rem;
    }
  }

  .mountain {
    z-index: 2;

    picture {
      margin: 7.06rem auto 0;
      width: 14.4rem;
    }
  }

  .cloudsThin {
    z-index: 2;
    filter: blur(0.02rem);

    picture {
      margin-top: 1.95rem;
    }
  }

  .cloudsFluffy {
    z-index: 3;
    filter: blur(0.01rem);

    picture {
      margin-top: -3.9rem;
    }
  }

  .hills {
    z-index: 3;

    picture {
      margin-top: 8.24rem;
    }
  }

  .cliff {
    z-index: 4;

    picture {
      margin-top: 5.59rem;
    }
  }

  .waterfall {
    z-index: 4;
    position: absolute;
    top: -3.3rem;
    right: 1.16rem;
    left: unset;
    width: 6.42rem;
    height: 11.08rem;

    * {
      position: absolute;
    }

    .top {
      top: 0;
      right: 0;
      width: 6.09rem;
    }

    .bottom {
      top: 8.27rem;
      left: 0;
      width: 4.68rem;
    }

    .water {
      top: 1rem;
      left: 1.585rem;
      width: 1.52rem;
      height: 8.34rem;

      .waterPicture {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: waterfallWaterAnimation 1s infinite;

        &_1 {
          animation-delay: 0s;
        }
        &_2 {
          animation-delay: 0.25s;
        }
        &_3 {
          animation-delay: 0.5s;
        }
        &_4 {
          animation-delay: 0.75s;
        }

        @keyframes waterfallWaterAnimation {
          0% {
            opacity: 0;
          }
          33% {
            opacity: 1;
          }
          67% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
      }

      .foam {
        animation: 1.2s waterfallFoamAnimation ease-in-out infinite;

        &_1 {
          width: 1.51rem;
          height: 2.65rem;
          bottom: 0;
          animation-delay: 0.2s;
        }

        &_2 {
          width: 0.81rem;
          height: 1.9rem;
          bottom: 0.3rem;
          right: 0.18rem;
          animation-delay: 0.4s;
        }

        &_3 {
          width: 0.22rem;
          height: 0.64rem;
          bottom: 2.57rem;
          right: 0.51rem;
          animation-delay: 0.6s;
        }

        &_4 {
          width: 0.48rem;
          height: 1.4rem;
          bottom: 1.23rem;
          right: 0.25rem;
          animation-delay: 0.8s;
        }

        &_5 {
          width: 1.24rem;
          height: 0.67rem;
          bottom: -0.03rem;
          left: 0;
          animation-delay: 1s;
        }

        &_6 {
          width: 0.48rem;
          height: 1.91rem;
          bottom: 1.52rem;
          left: 0.15rem;
          animation-delay: 0s;
        }

        @keyframes waterfallFoamAnimation {
          0% {
            opacity: 0;
            transform: translate(0, -0.7rem) scale(0.9);
          }
          40% {
            opacity: 1;
          }
          60% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: translate(0, 0) scale(1);
          }
        }
      }
    }
  }

  .scrolls {
    z-index: 5;
    position: relative;
    top: -0.36rem;

    .whitepaper {
      position: relative;
      width: 4.37rem;
      height: 4.52rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.36rem 0.26rem 0 0.38rem;
      margin-left: 5.73rem;
      margin-bottom: 1.2rem;

      p {
        font-weight: 500;
        margin-bottom: 0.27rem;
      }

      .learnMore {
        margin-bottom: 0.1rem;
        font-weight: 700;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 1.25rem;
        height: 0.48rem;

        picture {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
        }

        span {
          color: #fff;
          font-size: 0.16rem;
          font-weight: 700;
          text-shadow: 0.01rem 0.02rem 0rem rgba(0, 0, 0, 0.25);
        }
      }

      > picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
      }
    }

    .featuresGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0.42rem 0.13rem;
      width: min-content;
      margin-left: 5.6rem;

      .feature {
        width: 2.58rem;
        height: 3.3rem;
        position: relative;
        padding: 1.56rem 0.22rem 0 0.36rem;

        .heading {
          font-weight: 700;
          margin-bottom: 0.08rem;
        }

        > picture {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          z-index: -1;

          &.crystal_card {
            width: 117%;
            left: -7%;
          }
        }
      }
    }
  }

  .crystals {
    z-index: 6;

    .crystal {
      position: absolute;
      animation: crystalBounce 1.5s ease-in-out infinite;

      &_1 {
        top: -1.06rem;
        left: 2.51rem;
        width: 3.82rem;
        height: 4.34rem;
        animation-delay: 0s;
      }

      &_2 {
        top: -2.29rem;
        left: 3.9rem;
        width: 2.21rem;
        height: 2.28rem;
        animation-delay: 0.4s;
      }

      &_3 {
        top: 0.21rem;
        left: 10.6rem;
        width: 0.4rem;
        height: 0.4rem;
        animation-delay: 0.2s;
      }

      &_4 {
        top: 1.75rem;
        left: 10rem;
        width: 2.21rem;
        height: 2.28rem;
        animation-delay: 0.6s;
      }

      &_5 {
        top: 2.33rem;
        left: 9.38rem;
        width: 2.21rem;
        height: 2.28rem;
        animation-delay: 0.3s;
      }

      @keyframes crystalBounce {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(0.15rem);
        }
        100% {
          transform: translateY(0);
        }
      }

      &.shimmer {
        filter: blur(0.1rem);
        z-index: -1;
        animation-name: shimmerBounce;

        @keyframes shimmerBounce {
          0% {
            transform: translateY(0);
            opacity: 0.8;
          }
          50% {
            transform: translateY(0.15rem);
            opacity: 0.3;
          }
          100% {
            transform: translateY(0);
            opacity: 0.8;
          }
        }
      }
    }
  }
}
