.features {
  color: #095064;
  z-index: 3;

  font-size: 17.5rem;
  line-height: 23.5rem;


  .sky {
    z-index: 0;
    background: linear-gradient(
      180deg,
      #14397d 2.74%,
      #2761a1 33.29%,
      #3579b6 48.31%,
      #4494c7 62.14%,
      #55bcdf 73.1%,
      #56c3e2 79.03%
    );
  }

  .cloudsBehindMountain {
    z-index: 1;

    picture {
      margin-top: 756rem;
    }
  }

  .mountain {
    z-index: 2;

    picture {
      margin: 706rem auto 0;
      width: 1440rem;
    }
  }

  .cloudsThin {
    z-index: 2;
    filter: blur(2rem);

    picture {
      margin-top: 195rem;
    }
  }

  .cloudsFluffy {
    z-index: 3;
    filter: blur(1rem);

    picture {
      margin-top: -326rem;
    }
  }

  .hills {
    z-index: 3;

    picture {
      margin-top: 824rem;
    }
  }

  .cliff {
    z-index: 4;

    picture {
      margin-top: 559rem;
    }
  }

  .waterfall {
    z-index: 4;
    position: absolute;
    top: -330rem;
    right: 116rem;
    left: unset;
    width: 642rem;
    height: 1108rem;

    * {
      position: absolute;
    }

    .top {
      top: 0;
      right: 0;
      width: 609rem;
    }

    .bottom {
      top: 827rem;
      left: 0;
      width: 468rem;
    }

    .water {
      top: 100rem;
      left: 158.5rem;
      width: 152rem;
      height: 834rem;

      .waterPicture {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: waterfallWaterAnimation 1s infinite;

        &_1 {
          animation-delay: 0s;
        }
        &_2 {
          animation-delay: 0.25s;
        }
        &_3 {
          animation-delay: 0.5s;
        }
        &_4 {
          animation-delay: 0.75s;
        }

        @keyframes waterfallWaterAnimation {
          0% {
            opacity: 0;
          }
          33% {
            opacity: 1;
          }
          67% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
      }

      .foam {
        animation: 1.2s waterfallFoamAnimation ease-in-out infinite;

        &_1 {
          width: 151rem;
          height: 265rem;
          bottom: 0;
          animation-delay: 0.2s;
        }

        &_2 {
          width: 81rem;
          height: 190rem;
          bottom: 30rem;
          right: 18rem;
          animation-delay: 0.4s;
        }

        &_3 {
          width: 22rem;
          height: 64rem;
          bottom: 257rem;
          right: 51rem;
          animation-delay: 0.6s;
        }

        &_4 {
          width: 48rem;
          height: 140rem;
          bottom: 123rem;
          right: 25rem;
          animation-delay: 0.8s;
        }

        &_5 {
          width: 124rem;
          height: 67rem;
          bottom: -3rem;
          left: 0;
          animation-delay: 1s;
        }

        &_6 {
          width: 48rem;
          height: 191rem;
          bottom: 152rem;
          left: 15rem;
          animation-delay: 0s;
        }

        @keyframes waterfallFoamAnimation {
          0% {
            opacity: 0;
            transform: translate(0, -70rem) scale(0.9);
          }
          40% {
            opacity: 1;
          }
          60% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: translate(0, 0) scale(1);
          }
        }
      }
    }
  }

  .scrolls {
    z-index: 5;
    position: relative;
    top: -36px;

    .whitepaper {
      position: relative;
      width: 437rem;
      height: 452rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 36rem 26rem 0 38rem;
      margin-left: 573rem;
      margin-bottom: 120rem;

      p {
        font-weight: 500;
        margin-bottom: 27rem;
      }

      .learnMore {
        margin-bottom: 10rem;
        font-weight: 700;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 125rem;
        height: 48rem;

        picture {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
        }

        span {
          color: #fff;
          font-size: 16rem;
          font-weight: 700;
          text-shadow: 1rem 2rem 0rem rgba(0, 0, 0, 0.25);
        }
      }

      > picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
      }
    }

    .featuresGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 42rem 13rem;
      width: min-content;
      margin-left: 560rem;

      .feature {
        width: 258rem;
        height: 330rem;
        position: relative;
        padding: 156rem 22rem 0 36rem;

        .heading {
          font-weight: 700;
          margin-bottom: 8rem;
        }

        > picture {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          z-index: -1;

          &.crystal_card {
            width: 117%;
            left: -7%;
          }
        }
      }
    }
  }

  .crystals {
    z-index: 6;

    .crystal {
      position: absolute;
      animation: crystalBounce 1.5s ease-in-out infinite;

      &_1 {
        top: -106rem;
        left: 251rem;
        width: 382rem;
        height: 434rem;
        animation-delay: 0s;
      }

      &_2 {
        top: -229rem;
        left: 390rem;
        width: 221rem;
        height: 228rem;
        animation-delay: 0.4s;
      }

      &_3 {
        top: 21rem;
        left: 1060rem;
        width: 40rem;
        height: 40rem;
        animation-delay: 0.2s;
      }

      &_4 {
        top: 175rem;
        left: 1000rem;
        width: 221rem;
        height: 228rem;
        animation-delay: 0.6s;
      }

      &_5 {
        top: 233rem;
        left: 938rem;
        width: 221rem;
        height: 228rem;
        animation-delay: 0.3s;
      }

      @keyframes crystalBounce {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(15rem);
        }
        100% {
          transform: translateY(0);
        }
      }

      &.shimmer {
        filter: blur(10rem);
        z-index: -1;
        animation-name: shimmerBounce;

        @keyframes shimmerBounce {
          0% {
            transform: translateY(0);
            opacity: 0.8;
          }
          50% {
            transform: translateY(15rem);
            opacity: 0.3;
          }
          100% {
            transform: translateY(0);
            opacity: 0.8;
          }
        }
      }
    }
  }
}
