.roadmap {
  z-index: 1;

  .background {
    z-index: 1;
  }

  .fog {
    z-index: 2;

    picture {
      margin-top: 1.5rem;
    }
  }

  .sparks {
    z-index: 3;

    picture {
      position: absolute;
      animation: sparksAnimation 3s ease-in-out infinite;
    }

    .sparks_1 {
      width: 8.75rem;
      top: 1.35rem;
      left: 3.4rem;
      animation-delay: 0s;
    }

    .sparks_2 {
      width: 9.189rem;
      top: 6.67rem;
      left: 7.43rem;
      animation-delay: 1s;
    }

    .sparks_3 {
      width: 2.136rem;
      top: 9.44rem;
      left: 8.669rem;
      animation-delay: 2s;
    }

    @keyframes sparksAnimation {
      0% {
        transform: translate(0, 0);
        opacity: 0.8;
      }
      50% {
        transform: translate(0, -0.2rem);
        opacity: 0.3;
      }
      100% {
        transform: translate(0, 0);
        opacity: 0.8;
      }
    }
  }

  .bottle {
    z-index: 4;

    picture {
      position: absolute;
    }

    .bottle_bottle {
      width: 3.94rem;
      margin-top: 3.82rem;
    }

    .water {
      width: 2.29rem;
      margin-top: 7.09rem;
      margin-left: 2.77rem;
      animation: bottleWaterAnimation 0.75s infinite;

      &_1 {
        animation-delay: 0s;
      }
      &_2 {
        animation-delay: 0.25s;
      }
      &_3 {
        animation-delay: 0.5s;
      }

      @keyframes bottleWaterAnimation {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }

    .foam {
      animation: 1.2s bottleFoamAnimation ease-in-out infinite;

      &_1 {
        width: 1.085rem;
        height: 2.426rem;
        margin-top: 8.09rem;
        margin-left: 3.33rem;
        animation-delay: 0.8s;
      }

      &_2 {
        width: 1.11rem;
        height: 1.792rem;
        margin-top: 8.29rem;
        margin-left: 3.21rem;
        animation-delay: 0.4s;
      }

      &_3 {
        width: 0.9375rem;
        height: 2.0806rem;
        margin-top: 8.94rem;
        margin-left: 4.3rem;
        animation-delay: 0s;
      }

      @keyframes bottleFoamAnimation {
        0% {
          opacity: 0;
          transform: translate(-0.23rem, -0.7rem) scale(0.9);
        }
        40% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: translate(0, 0) scale(1);
        }
      }
    }
  }

  .light {
    z-index: 5;

    picture {
      width: 8.6335rem;
      margin-top: 2.35rem;
      margin-left: 5.5rem;
      animation: 1s lightningFlashAnimation linear infinite;
    }
  }

  .content {
    z-index: 6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.6rem;

    .heading {
      font-size: 0.4745rem;
      line-height: 0.64rem;
      font-weight: 700;
      color: #ffffff;
      text-shadow: 0px 1px 20px #095064;
      margin-bottom: 0.4026rem;
    }

    .papers {
      display: flex;
      gap: 0.365rem;
      color: #095064;
      margin-bottom: 3rem;
      width: min-content;

      .paper {
        width: 2.5421rem;
        height: 2.8956rem;
        padding: 0.2436rem 0.2181rem 0 0.314rem;
        position: relative;

        &_heading {
          font-size: 0.2085rem;
          line-height: 0.25rem;
          font-weight: 700;
          margin-bottom: 0.124rem;
        }

        &_description {
          font-size: 0.1765rem;
          line-height: 0.2118rem;
          font-weight: 500;
        }

        picture {
          z-index: -1;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .lightning {
    z-index: 7;

    picture {
      width: 3.7rem;
      margin-top: 8rem;
      margin-left: 7.91rem;
      animation: 1s lightningFlashAnimation linear infinite;
    }
  }

  @keyframes lightningFlashAnimation {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
  }
}
