.partners {
  z-index: 2;
  @media (max-width: 768px) {
    display: none;
  }

  .light {
    z-index: 2;

    picture {
      margin-top: -0.48rem;
      animation: crystalLightAnimation 3s ease-in-out infinite;

      @keyframes crystalLightAnimation {
        0% {
          opacity: 0.3;
        }
        50% {
          opacity: 0.8;
        }
        100% {
          opacity: 0.3;
        }
      }
    }
  }

  .sparks {
    z-index: 3;

    > picture {
      position: absolute;
      animation: crystalSparksAnimation 3s ease-in-out infinite;
    }

    .sparks_1 {
      width: 2.58rem;
      top: 2.54rem;
      left: 0.28rem;
      animation-delay: 1s;
    }

    .sparks_2 {
      width: 3.14rem;
      top: 2.16rem;
      left: 14.95rem;
      animation-delay: 2s;
    }

    @keyframes crystalSparksAnimation {
      0% {
        transform: translate(0, 0);
        opacity: 0.3;
      }
      50% {
        transform: translate(0, -0.2rem);
        opacity: 0.8;
      }
      100% {
        transform: translate(0, 0);
        opacity: 0.3;
      }
    }
  }

  .crystals {
    z-index: 4;

    picture {
      margin-top: 1.92rem;
    }
  }

  .content {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      font-size: 0.4745rem;
      line-height: 0.64rem;
      font-weight: 700;
      color: #9fd2fd;
      text-shadow: 0 0.01rem 0.2rem #095064;
      margin-bottom: 0.21rem;
    }

    .partnersGrid {
      display: grid;
      grid-template-columns: 2.2rem 1.3rem 2.2rem;
      grid-gap: 0.7rem 1rem;
      width: min-content;
      margin-bottom: 1.1rem;

      .partner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .partner_2 {
        position: relative;
        top: -0.1rem;
      }
    }

    .quantum {
      width: 2.5rem;
      margin-bottom: 1.1rem;
    }
  }
}
