footer {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.1rem;
  background: linear-gradient(
    #002c48 0.05rem,
    #00436b 0.05rem,
    #00436b 0.09rem,
    #003c60 0.09rem
  );
  box-shadow: 0 -0.02rem 0.16rem #000;
  color: #6edcff;
  font-size: 0.12rem;
  line-height: 0.14rem;

  .logo {
    width: 1.727rem;
    margin-right: 0.175rem;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    margin-right: 1.025rem;
  }

  .subscribe {
    display: flex;
    margin-right: 0.15rem;

    p {
      margin-top: 0.1rem;
      margin-right: 0.1rem;
    }
  }

  .poweredBy {
    display: flex;

    p {
      margin-top: 0.1rem;
      margin-right: 0.1rem;
    }
  }

  .icons {
    display: flex;
    gap: -0.1rem;

    picture {
      width: 0.48rem;
    }
  }

  .jags {
    position: absolute;
    top: 0;
    height: 0.15rem;
    max-width: 50%;
    overflow: hidden;

    &_1 {
      left: 0;
      transform: scale(0, -1);
    }

    &_2 {
      right: 0;
      transform: scale(-1, -1);
    }

    img {
      width: unset;
      height: 100%;
    }
  }
}
