@font-face {
  font-family: "Changa";
  src: url("../fonts/subset-Changa-Regular.eot");
  src: url("../fonts/subset-Changa-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/subset-Changa-Regular.woff2") format("woff2"),
    url("../fonts/subset-Changa-Regular.woff") format("woff"),
    url("../fonts/subset-Changa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Changa";
  src: url("../fonts/subset-Changa-Medium.eot");
  src: url("../fonts/subset-Changa-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/subset-Changa-Medium.woff2") format("woff2"),
    url("../fonts/subset-Changa-Medium.woff") format("woff"),
    url("../fonts/subset-Changa-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Changa";
  src: url("../fonts/subset-Changa-Bold.eot");
  src: url("../fonts/subset-Changa-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/subset-Changa-Bold.woff2") format("woff2"),
    url("../fonts/subset-Changa-Bold.woff") format("woff"),
    url("../fonts/subset-Changa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Changa";
  src: url("../fonts/subset-Changa-SemiBold.eot");
  src: url("../fonts/subset-Changa-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/subset-Changa-SemiBold.woff2") format("woff2"),
    url("../fonts/subset-Changa-SemiBold.woff") format("woff"),
    url("../fonts/subset-Changa-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
